
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
  body {
    font-family: Arial,sans-serif;
    background-color: #f2f2f2;
  }
  .container 
  {
    max-width: 400px;
    margin: 50px auto;
    background-color:wheat;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }  
  .title 
  {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .form 
  {
    margin-bottom: 20px;
  }
  .input_field
   {
    margin-bottom: 15px;
  }
  .input_field label {
    display: block;
    margin-bottom: 5px;
  }
  .input_field input,
  .input_field select,
  .input_field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  .selector 
  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    appearance: none;
    background: url('arrow.png') no-repeat right #fff;
    background-size: 16px;
  }
  .checkbox_field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .checkbox_field input[type="checkbox"] {
    margin-right: 5px;
  }
  .dob {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  } 
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    resize: vertical;
  }
  .reg {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  .reg:hover {
    background-color: #45a049;
  }
 